index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    
    <meta name="author" content="Khaled Mohamed"/> 
    
    <meta name="description" content="Just a To Do Application for training in using Javascript with some features."/> 
    
    <meta name="keywords" content="HTML, HTML5, CSS, CSS3, JS, PugJS, Front End Challenge"/> 
    
    <link rel="shortcut icon" href="./assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="./assets/favicons/site.webmanifest"> 
    
    <title>To Do List Application</title> 
    
    <link rel="stylesheet" href="./src/styles.css">
    <script src="./src/app.js" defer> </script>
  </head>
  <body> 
    <main class="main" id="main">
      <form class="add-task" id="add-task">
        <input class="add-task__input" type="text" name="" id="add-task-input" placeholder="add a new task.." autofocus>
        <button class="btn add-task__btn" id="add-task-btn" type="submit">add task</button>
      </form>
      <section class="tasks" id="tasks"></section>
    </main> 
    
    <noscript>You need to enable JavaScript to run this app.</noscript>
  </body>
</html>

src/pug-js/index.pug
include ./mixins/_index

doctype html
html(lang="en")
    head
        +meta-data("Khaled Mohamed")

        +meta-desc("Just a To Do Application for training in using Javascript with some features.")

        +meta-words("HTML, HTML5, CSS, CSS3, JS, PugJS, Front End Challenge")

        link(rel="shortcut icon" href="./assets/favicons/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="./assets/favicons/site.webmanifest")

        +space()

        title To Do List Application

        +space()

        link(rel="stylesheet" href="./src/styles.css")
        script(src="./src/app.js" defer) 

    body 
        main(id="main" class="main")
            form(id="add-task" class="add-task")
                input(type="text" name="" id="add-task-input" class="add-task__input" placeholder="add a new task.." autofocus)
                button(id="add-task-btn" type="submit" class="btn add-task__btn") add task

            section(id="tasks" class="tasks")

        +no-script()
